html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*
BARVY
pozadi a pozadí nadpisů= #ffe4c4
pozdaí hlavní obsah = #fef8f2

*/
body {
  background-color: #ffe4c4;
  font-size: 1rem;
  padding-top: 50px;
}

.vision-board__main {
  padding: 50px;
  background-color: #fef8f2;
  font-style: italic;
  max-width: 850px;
  margin: 0 auto;
}

h1,
h3 {
  margin: 0;
}

.vision-board__title {
  background-color: #ffe4c4;
  padding: 30px 0;
}

.vision-board__main,
.vision-board__footer {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0 30px;
}

.grid__item {
  align-self: center;
  align-items: center;
}

.vision-board__image {
  width: 100%;
  max-height: 100%;
}

.vision-board__icon {
  width: 1em;
  height: 1em;
}

ul,
ol {
  list-style-type: none;
}

.vision-board__footer {
  line-height: 1.2;
  font-style: italic;
  font-size: 0.9rem;
  padding: 20px 0;
}

.vision-board__link {
  text-decoration: none;
  color: #000;
}

.vision-board__icon--hover:hover {
  width: 1.5em;
  height: 1.5em;
}
